{% extends "base_generic.html" %}

{% block content %}
  <h1>Добро пожаловать на сайт АнтиХайп!</h1>

  <p class="lead">
    Хотите узнать, можно ли доверять сайту, с которым вы
    столкнулись? Мы помогаем пользователям выявлять мошеннические
    проекты, финансовые пирамиды и сомнительные схемы.
  </p>

  <p class="lead">
    🔍 <strong>Проверяйте сайты</strong> перед тем, как вводить личные
    данные или вкладывать деньги.
    <br />
    ⚠️ <strong>Получайте предупреждения</strong> о возможных рисках.
    <br />
    💡 <strong>Учитесь распознавать мошенников</strong> и защищайте
    себя от обмана.
  </p>

  <p class="lead">
    Будьте бдительны и сохраняйте свои финансы в безопасности!
    <br />
    Выберите <span class="text-info">Проверить домен сайта</span>
    в боковом меню страницы и получите результат прямо сейчас.
  </p>
{% endblock %}
