{% extends "base_generic.html" %}

{% block content %}
  <h1>Тест: Вопрос {{ question_ordinal }} из {{ num_questions }}.</h1>
  <p>{{ question.text }}</p>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Далее">
  </form>

  <p>Набранно баллов риска: {{ risk_score }}.</p>
  <p>
    Сайт <span class="text-danger">мошеннический</span>,
    если набрано ≥ {{ risk_fail_trigger }} баллов.
  </p>
  <p>
    Сайт <span class="text-warning">сомнительный</span>,
    если набрано ≥ {{ risk_suspicious_trigger }} баллов.
  </p>
{% endblock %}
